<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Android"
        tools:targetApi="31">
        <activity
            android:name="com.example.Activity1.contact"
            android:exported="true" />
        <activity
            android:name="com.example.Activity1.project"
            android:exported="true" />
        <activity
            android:name="com.example.Activity1.academics"
            android:exported="true" />
        <activity
            android:name="com.example.Activity1.skills"
            android:exported="true" />
        <activity
            android:name="com.example.Activity1.hobbies"
            android:exported="true" />
        <activity
            android:name="com.example.Activity1.Profile"
            android:exported="true" />
        <activity
            android:name="com.example.Activity1.PortfolioHome"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Menu"
            android:exported="false" />
        <activity
            android:name=".LoginSuccessful"
            android:exported="true" />
        <activity
            android:name=".Intent"
            android:exported="true" />
        <activity
            android:name=".Pizza"
            android:exported="true" />
        <activity
            android:name="com.example.snacktask.Welcome8"
            android:exported="true" />
        <activity
            android:name="com.example.snacktask.Welcome7"
            android:exported="true" />
        <activity
            android:name="com.example.snacktask.Welcome6"
            android:exported="true" />
        <activity
            android:name="com.example.snacktask.Welcome5"
            android:exported="true" />
        <activity
            android:name="com.example.snacktask.Welcome4"
            android:exported="true" />
        <activity
            android:name="com.example.snacktask.Welcome3"
            android:exported="true" />
        <activity
            android:name="com.example.snacktask.Welcome2"
            android:exported="true" />
        <activity
            android:name="com.example.snacktask.Welcome1"
            android:exported="true" />
        <activity
            android:name="com.example.snacktask.Welcome"
            android:exported="true" />
        <activity
            android:name="com.example.snacktask.SnackMain"
            android:exported="true" />
        <activity
            android:name=".Implicit"
            android:exported="true" />
        <activity
            android:name=".Spinner"
            android:exported="true" />
    </application>

</manifest>