<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Android"
        tools:targetApi="31">
        <activity
            android:name=".ContextMenu"
            android:exported="true" />
        <activity
            android:name=".CustomAlert"
            android:exported="true" />
        <activity
            android:name=".DialogBox"
            android:exported="true" />
        <activity
            android:name="com.example.Activity2.Page1"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CameraPermission"
            android:exported="true" />
        <activity
            android:name=".Permissions"
            android:exported="true" />
        <activity
            android:name=".chooser2"
            android:exported="false" />
        <activity
            android:name=".AppChooser"
            android:exported="true" />
        <activity
            android:name="com.example.Activity1.gallery"
            android:exported="true" />
        <activity
            android:name="com.example.Activity1.project"
            android:exported="true" />
        <activity
            android:name="com.example.Activity1.academics"
            android:exported="true" />
        <activity
            android:name="com.example.Activity1.skills"
            android:exported="true" />
        <activity
            android:name="com.example.Activity1.hobbies"
            android:exported="true" />
        <activity
            android:name="com.example.Activity1.Profile"
            android:exported="true" />
        <activity
            android:name="com.example.Activity1.PortfolioHome"
            android:exported="true" />
        <activity
            android:name=".LoginSuccessful"
            android:exported="true" />
        <activity
            android:name=".Intent"
            android:exported="true" />
        <activity
            android:name=".Pizza"
            android:exported="true" />
        <activity
            android:name="com.example.Snacktask.Welcome8"
            android:exported="true" />
        <activity
            android:name="com.example.Snacktask.Welcome7"
            android:exported="true" />
        <activity
            android:name="com.example.Snacktask.Welcome6"
            android:exported="true" />
        <activity
            android:name="com.example.Snacktask.Welcome5"
            android:exported="true" />
        <activity
            android:name="com.example.Snacktask.Welcome4"
            android:exported="true" />
        <activity
            android:name="com.example.Snacktask.Welcome3"
            android:exported="true" />
        <activity
            android:name="com.example.Snacktask.Welcome2"
            android:exported="true" />
        <activity
            android:name="com.example.Snacktask.Welcome1"
            android:exported="true" />
        <activity
            android:name="com.example.Snacktask.Welcome"
            android:exported="true" />
        <activity
            android:name="com.example.Snacktask.SnackMain"
            android:exported="true" />
        <activity
            android:name=".Implicit"
            android:exported="true" />
        <activity
            android:name=".Spinner"
            android:exported="true" />
    </application>

</manifest>